@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --preto: #0D0D0D;
    --vermelho: #F21616;
    --grafite: #373740;
    --cinza-escuro: #80838C;
    --cinza-claro: #F0F0F2; 
    --branco: #fff;
}

*{
    outline: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 10ms ease-in;
}

body{
    width: 100%;
    
}

a{
    text-decoration: none;
}

section{
    padding: 3rem 4rem;
    width: 100%;
    overflow: hidden;
}
